<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="OCHC_GMAIL_USER" value="yutongzhao.yow@gmail.com" />
    <add key="OCHC_GMAIL_APP_PASSWORD" value="vesggoyseghhkhfs" />
    <add key="OCHC_SIGNUP_TO_EMAIL" value="zhaoyutong43210@gmail.com" />
  </appSettings>

  <system.web>
    <globalization
      requestEncoding="utf-8"
      responseEncoding="utf-8"
      fileEncoding="utf-8"
      culture="zh-CN"
      uiCulture="zh-CN" />
  </system.web>

  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".gpx" mimeType="application/gpx+xml" />
    </staticContent>
  </system.webServer>
</configuration>
